<div class="example-container">
  <mat-toolbar style="background-color:#2C5364;" color="primary" class="expanded-toolbar">
    <span>
      <button mat-button>
        <mat-icon>person</mat-icon>
        {{title}}
      </button>
      <!-- <button mat-button routerLink="/"><mat-icon>home</mat-icon></button> -->
    </span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/pages/portafolio">
        <mat-icon>business_center</mat-icon>
        Portafolio
      </button>
      <button mat-button routerLink="/pages/habilidades">
        <mat-icon>military_tech</mat-icon>
        Skillset
      </button>
      <button mat-button routerLink="/pages/experiencia">
        <mat-icon>emoji_events</mat-icon>
        Experience
      </button>
      <button mat-button routerLink="/pages/contacto">
        <mat-icon>perm_contact_calendar</mat-icon>
        Contact
      </button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/pages/portafolio">
      <mat-icon>business_center</mat-icon>
      Portafolio
    </button>
    <button mat-menu-item routerLink="/pages/habilidades">
      <mat-icon>military_tech</mat-icon>
      Skillset
    </button>
    <button mat-menu-item routerLink="/pages/experiencia">
      <mat-icon>emoji_events</mat-icon>
      Experience
    </button>
    <button mat-menu-item routerLink="/pages/contacto">
      <mat-icon>perm_contact_calendar</mat-icon>
      Contact
    </button>
  </mat-menu>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
