<!-- <div fxLayout="row" class="contenedor-pgim-formulario mat-elevation-z1">
  <div fxLayout="row" fxFlex>
    <div fxFlex>
      <h2> -->
        <!-- <strong *ngIf="tblPerfilDTO">Perfil - {{tblPerfilDTO.noPerfil + ' ' + tblPerfilDTO.apPerfil}}</strong> -->
      <!-- </h2>
    </div>
  </div>
</div> -->

<mat-divider></mat-divider>


<mat-toolbar class="mat-elevation-z1">
  <div fxLayoutAlign="start stretch" fxLayoutGap="8px">
    <button mat-button (click)="retornar()" matTooltip="Retornar a la ventana anterior">
      <mat-icon>arrow_back</mat-icon> {{ textoRetorno }}
    </button>
  </div>
  <!-- <strong *ngIf="tblPerfilDTO">Perfil - {{tblPerfilDTO.noPerfil + ' ' + tblPerfilDTO.apPerfil}}</strong> -->
  <div fxFlex></div>

</mat-toolbar>

<mat-progress-bar *ngIf="enProceso" color="primary" mode="query"></mat-progress-bar>

<mat-sidenav-container>
  <!--Inicio contentenido-->
  <div class="formulario-unidad-minera-wrap" fxLayoutWrap="wrap" *ngIf="!enProceso">
    <div class="full-width">
      <mat-tab-group animationDuration="1ms" [selectedIndex]="pestaniaSeleccionada">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">crop_original</mat-icon>
            PERFIL
          </ng-template>
          <ng-template matTabContent>
            <app-perfil-general *ngIf="tblPerfilDTO" [tblPerfilDTO]="tblPerfilDTO" [tipoAccionCrud]="tipoAccionCrud"
              (eventoPerfilModificado)="eventoPerfilModificado($event)"></app-perfil-general>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <!--Fin de contentenido-->
</mat-sidenav-container>
