<mat-toolbar class="cabecera-color altura-toolbar" color="primary" matTooltip="Nombre del proyecto">
  <span class="span">
    <b>
      {{ tblSkillsetDTO.noSkillset | uppercase}}
    </b>
  </span>
</mat-toolbar>
<mat-card class="oh little-profile tarjeta text-statico">

  <div class="breakpoint">
    <div class="img-tamanio">
      <!-- <img [src]="tblSkillsetDTO.imgPortafolio" alt="" height="190"> -->
      <img *ngIf="tblSkillsetDTO?.fotoSkillset"
      src="http://localhost:9999/skillsets/uploads/img/{{tblSkillsetDTO.fotoSkillset}}" alt="{{tblSkillsetDTO.fotoSkillset}}"
      class="img-thumbnail rounded" style="cursor: pointer;" height="190">

      <img *ngIf="!tblSkillsetDTO?.fotoSkillset" [src]="host_img" alt="Sin foto"
              class="img-thumbnail rounded" style="cursor: pointer;" height="190">
    </div>
  </div>

  <!-- <mat-card-content> -->
    <!-- <span matTooltip="Descripción del proyecto">{{ tblSkillsetDTO.dePortafolio}}</span> -->
  <!-- </mat-card-content> -->

  <mat-divider></mat-divider>

  <mat-card-actions class="oh text-center little-profile">
    <button mat-raised-button color="primary" matTooltip="Editar" (click)="solicitarModificacion(tblSkillsetDTO)" class="cabecera-color">
      <mat-icon>mode_edit</mat-icon>
    </button>

    <button mat-raised-button color="primary" matTooltip="Subir imagen" (click)="solicitarSubidaFoto(tblSkillsetDTO)" class="cabecera-color">
      <mat-icon>upload</mat-icon>
    </button>

    <!-- <button mat-raised-button color="primary" matTooltip="Ver detalle" class="cabecera-color">
      <mat-icon>remove_red_eye</mat-icon>
    </button> -->

    <button mat-raised-button color="primary" class="cabecera-color" (click)="solicitarEliminacion(tblSkillsetDTO)" matTooltip="Eliminar">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<br>
