<!-- <title>{{titulo}}</title> -->
<mat-toolbar class="cabecera-color" color="primary">
  <mat-toolbar-row>
    <span class="span">
      <b>
        Experiencia
      </b>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>

  <table *ngIf="!progreso">
    <h1>Ingrese los siguientes detalles </h1>
    <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
      <tr>
        <mat-form-field fxFlex="300px" appearance="outline">
          <mat-label>Destinatario:</mat-label>
          <input matInput aria-label="State" autocomplete="off" [(ngModel)]="a" name="name" />
        </mat-form-field>
      </tr>
    </div>

    <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
      <tr>
        <mat-form-field fxFlex="300px" appearance="outline">
          <mat-label>Asunto:</mat-label>
          <input matInput aria-label="State" autocomplete="off" [(ngModel)]="titulo" name="age" />
        </mat-form-field>
      </tr>
    </div>

    <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
      <tr>
        <mat-form-field fxFlex="300px" appearance="outline">
          <mat-label>Contenido:</mat-label>
          <textarea matInput #messageDat [(ngModel)]="contenido" maxlength="4000" rows="6" name="country"
            placeholder="Describir tus datos:"></textarea>
          <mat-hint align="end">{{messageDat.value.length}} / 4000</mat-hint>
        </mat-form-field>
      </tr>
    </div>

    <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">

      <tr>
        <td>
          <button mat-raised-button cdkFocusInitial color="primary" type="submit"
            onclick="document.getElementById('inputGroupFile04').click()">
            Seleccionar archivo
          </button>
        </td>
      </tr>

      <input style="display: none;" (change)="seleccionarFoto($event)" type="file" class="form-control form-control-sm"
        id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" multiple>

        <tr>
        <td>
          <button type="submit" color="primary" cdkFocusInitial mat-raised-button (click)="subirArchivosGmail()"
            [disabled]="!a || !titulo || !contenido">
            <mat-icon>send</mat-icon>
            Enviar
          </button>
        </td>
      </tr>
    </div>


    <br>

    <table *ngFor="let lista of dataset">
      <tr>
        <td colspan="2" align="center">
          <b>- {{ lista.name }}</b>
        </td>
      </tr>
    </table>
  </table>

  <mat-progress-bar *ngIf="progreso" color="primary" mode="query"></mat-progress-bar>

</mat-card>
