<!-- <title>{{titulo}}</title> -->
<mat-toolbar class="cabecera-color" color="primary">
  <mat-toolbar-row>
    <span class="span">
      <b>
        Experiencia
      </b>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <!-- <button mat-button color="primary" onclick="document.getElementById('flArchivo').click()">Seleccionar</button>
  <input id="flArchivo" type="file" style="display: none;" (change)="seleccionarArchivo($event)">
  <p>{{nombreArchivo}}</p>

  <button mat-button color="primary" (click)="subirArchivo()" [disabled]="!archivosSeleccionados">Subir Archivo</button> -->

  <!-- <img mat-card-image src="data:image/png;base64,{{imagenData}}" alt="demo"> -->

</mat-card>
