<div class="main-container">
  <form fxLayout="column" [formGroup]="frmReactivo">

    <div fxLayout="row" *ngIf="enProceso">
      <mat-progress-bar mode="query" color="accent" fxFlex></mat-progress-bar>
      <br />
    </div>

    <div class="items-supervision-container">


      <div class="item-supervision-wrap" fxFlex.lt-sm="100%" fxFlex>
        <mat-card>
          <mat-label><b>Educación</b></mat-label>
          <br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field class="full-width" fxFlex appearance="outline">
              <mat-label>Describir tu educación:</mat-label>
              <textarea #messageResumenEdu matInput (change)="guardarActualizarEducacion()"
                placeholder="Describir tu educación:" formControlName="deEducacion" maxlength="4000"
                rows="30"></textarea>
              <mat-hint align="end">{{ messageResumenEdu.value?.length || 0 }}/4000</mat-hint>
            </mat-form-field>
          </div>
          <br>
        </mat-card>
      </div>

      <div fxFlex="50px"></div>

      <div class="item-supervision-wrap" fxFlex.lt-sm="100%" fxFlex>
        <mat-card>
          <mat-label><b>Experiencia</b></mat-label>
          <br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field class="full-width" fxFlex appearance="outline">
              <mat-label>Describir tu experiencia:</mat-label>
              <textarea #messageResumenExp matInput (change)="guardarActualizarExperiencia()"
                placeholder="Describir tu experiencia:" formControlName="deExperiencia" maxlength="4000"
                rows="30"></textarea>
              <mat-hint align="end">{{ messageResumenExp.value?.length || 0 }}/4000</mat-hint>
            </mat-form-field>
          </div>
          <br>
        </mat-card>
      </div>

      <div fxFlex="50px"></div>

      <div class="item-supervision-wrap" fxFlex.lt-sm="100%" fxFlex>
        <mat-card>
          <mat-label><b>Formación</b></mat-label>
          <br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <mat-form-field class="full-width" fxFlex appearance="outline">
              <mat-label>Describir tu formación:</mat-label>
              <textarea #messageResumenFor matInput (change)="guardarActualizarFormacion()"
                placeholder="Describir tu formación:" formControlName="deFormacion" maxlength="4000"
                rows="30"></textarea>
              <mat-hint align="end">{{ messageResumenFor.value?.length || 0 }}/4000</mat-hint>
            </mat-form-field>
          </div>
          <br>
        </mat-card>
      </div>
    </div>
  </form>

  <!-- <mat-label>obtener dni:</mat-label>
  <input placeholder="obtener:" [(ngModel)]="numero">
  <button (click)="prueba()"></button> -->
</div>
