<div class="main-container">
  <form fxLayout="column" [formGroup]="frmReactivo">

    <div fxLayout="row" *ngIf="enProceso">
      <mat-progress-bar mode="query" color="accent" fxFlex></mat-progress-bar>
      <br />
    </div>

    <div class="items-supervision-container">

      <div class="item-supervision-wrap" fxFlex.lt-sm="100%" fxFlex>
        <mat-card>
          <!-- <mat-label><b>Foto de perfil: {{tblPerfilDTO.noPerfil + ' ' + tblPerfilDTO.apPerfil}}</b></mat-label> -->
          <br>
          <br>
          <!-- <img class="img-tamanio" mat-card-image src="data:image/png;base64,{{imagenDataPerfil}}"
            alt="Photo of a Shiba Inu"> -->
        </mat-card>
        <br>
      </div>

      <div fxFlex="50px"></div>

      <div class="item-supervision-wrap" fxFlex.lt-sm="100%" fxFlex>
        <mat-card>
          <mat-label><b>Educación</b></mat-label>
          <br>
          <div fxLayout="row" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column">
            <!-- <mat-form-field fxFlex appearance="outline">
              <textarea matInput #messageResumen formControlName="deEducacion" maxlength="4000" rows="15"
              placeholder="Describir tu educación:"></textarea>
              <mat-hint align="end">{{messageResumen.value.length}} / 4000</mat-hint>
            </mat-form-field> -->

            <mat-form-field class="full-width" fxFlex appearance="outline">
              <mat-label>Describir tu educación:</mat-label>
              <textarea #messageResumen matInput (change)="guardarActualizarEducacion()"
                placeholder="Describir tu educación:" formControlName="deEducacion" maxlength="1024" rows="15"
                maxlength="1024"></textarea>
              <mat-hint align="end">{{ messageResumen.value?.length || 0 }}/1024</mat-hint>
            </mat-form-field>
          </div>

          <br>
        </mat-card>
      </div>
    </div>
  </form>
</div>
